*{
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
   
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2019/02/14/14/38/book-3996723_1280.jpg);
    background-color: oldlace;
}

.header {
    border: solid 2px oldlace;
    color:oldlace;
    background-color: #3c1414;
    padding: 5px;
    width: 30%;
    margin: 20px auto;
    border-radius: 5px;
    
}

.main-section {
    background-color: oldlace;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    padding: 20px 50px;
}

.main-section .book-title {
    font-size: 1.5rem;
}

.main-section .author-name {
    font-size: 1.3rem;
    margin-top: 10px;
}

#new-book {
    background-color: #704241;
    color: oldlace;
    padding: 10px 24px;
    border-radius: 5px;
    border: solid 2px oldlace;
    box-shadow: 0 0 10px;
    
}

#new-book:active {
    background-color: #3c1414;
}

.instruction {
    color: oldlace;
}

footer {
    margin: 50px;
}