* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
   
}
body {
    background-image: url(https://cdn.pixabay.com/photo/2019/02/14/14/38/book-3996723_1280.jpg)
    
}